.sexy-rotate {
    -webkit-transform: rotate(50deg);
    -webkit-transition: all 1s ease-out;
}

.centered {
    margin: 50px 0;
    padding: 0;
    text-align: center;
}

.matchStrap {
    background-color: #eee;
}